@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Baloo Bhai 2', sans-serif;
    
    
}
body{
    overflow-x: hidden;
}
.parent_div{
    background-image: linear-gradient(to right, #142469, #1CB5E0);
    height: 100vh;
    width: 80%;
    left:20%;
    display: flex;
    position: fixed;
    align-content: flex-start;
    justify-content: center;
}

.open_btn_div i {
    font-size: 30px;
    position: absolute;
    color: white;
}

.open_btn_div {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 5%;
    top:5%;
    cursor: pointer;
    border-radius: 15px 15px 15px 15px;
    display: none;
}

.open_btn_div i:hover{
    left:10%;
    top:10%;
}


.div_1 {
    width:80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color:rgb(209 238 255);
    border-radius: 10% 10% 10% 10%;
}

.icon_logo {
    width: 125px;
    height: 100px;
    position: absolute;
    top: 2%;
    left: 45%;
}


.logout_div {
    position: absolute;
    top:5%;
    right: 5%;
    width: 30px;
    height: 30px;
}

.logout_div i{
    font-size: 30px;
    color: white;
    position: absolute;
    cursor: pointer;
}

.logout_div i:hover {
    left:10%;
}




/* nav bar css  START*/

.sidenav {
    height: 100vh;
    width: 20%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0; 
    background-color: rgb(209 238 255);
    /* align-items: flex-start; */
    flex-direction: column;
}

.nav_logo_box{
    align-self: center;
    width: 80%;
    height: 150px;
    display: flex;
    background-color: white;
    border-radius: 15px;
    margin-top: 20px;
}

.nav_logo_box img{
    width: 100%;
    height: 100%;
}

.Menu_tag_div {
    align-self: center;
    width: 80%;
    height: 50px;
    display: flex;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}


.button_box {
    width: 80%;
    height: 300px;
    margin-top: 20px;
    align-self: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.button_box div{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-top: 10px;
    background-color: white;
    cursor: pointer;

}

.button_box div:hover{
    background-color: #e3e9eb;
}

.button_box .active{
    background-color: rgb(209 238 255);
}

.button_box p{
    margin-left: 10px;
}

.button_box .icon {
    font-size: 22px;
    margin-left: 10px;
}

.button_box a{
    width: 80%;
    height: 10%;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.button_box a:hover{
    background-color: #e3e9eb;
}


.nav_footer {
    width: 80%;
    flex: 1 0 auto;
    display: flex;
    align-self: center;
    align-items: flex-end;
    margin-bottom: 20px;
    
}

.nav_footer div{
    width: 100%;
    display: flex;
    border-radius: 15px;
    background-color: white;
    justify-content: center;
}


.nav_footer div img{
    width: 20%;
    height: 30px;
    border-radius: 15px;
}

.nav_footer div p{
    width: 80%;
    white-space: normal;
    word-break: break-all;
    box-sizing: border-box;
}


/* -----NAV BAR  CSS END */

.div_1 {
    width:80%;
    height: 75%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color:rgb(209 238 255);
    border-radius: 10% 10% 10% 10%;
}


/* hours data */

.main_div {
    align-self: center;
    width:90%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

/* .main_div div{
    margin-top: 10px;
} */

.title_div {
    margin-top: 10px;
    width:100%;
    height: 10%;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #FFF;
}

.title_div strong{
    font-size: x-large;
    padding:12px;
}

.total_hours_div {
    margin-top: 10px;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 15px;
}

.total_hours_div div{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.option_div{
    margin-top: 10px;
    width: 100%;
    height: 5%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

}

.main_div .button_div {
    margin-top: 0px;
    width: 80%;
    height: 100%;
    align-self: center;
}

.button_div a{
    text-decoration: none;
    font-weight: bold;
    width:24%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    background-color: #FFF;
    float: left;
}

.button_div a:hover{
    background-color: #e3e9eb;
}

.button_div .W_btn {
    background-color: #e3e9eb;
}


.main_div .filter_div {
    margin-top: 0px;
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
}


.filter_div img{
    width:35%;
    height: 50%;
    align-self: center;
}

.filter_div:hover{
    background-color:#e3e9eb ;
}

.data_div {
    margin-top: 10px;
    width :100%;
    height:60%;
    display: flex;
    flex-direction: column;
    overflow-y:scroll;
}

.data_div::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

._data {
    margin-top: 10px;
    width: 100%;
    height: 35%;
    background-color: #FFF;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.in_out_date {
    width: 70%;
    height: 100%;
    display: flex;
}

.in_out_date p{
    font-size: 15px;
}
.in_out_date strong{
    font-size: 18px;
}

.hours {
    /* width:20%; */
    height: 100%;
    margin-right: 5px;
}



._in ,._out ,.date{
    margin-left: 5%;
    display: flex;
}

.in_out_date img{
    width :20px;
    height: 20px;
}

.inside_hr_div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside_hr_div strong{
    font-size: 18px;
}







#popup-window {
    position: fixed;
    width: 300px;
    height: 250px;
    background: white;
    /* border: 1px solid black; */
    border-radius: 15px;
    padding: 10px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: block;
  }

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(197, 235, 250, 0.603); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Add a blur effect */
    z-index: 1;
}




#popup-window div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

#popup-window .close_and_continue_btn a{
    text-decoration: none;
    margin-top: 5px;
    background-color: aliceblue;
    border-radius: 15px;
    color: black;
    width:25%;
    display: flex;
    justify-content: center;
}
#popup-window .close_and_continue_btn a:hover{
    background-color: #e3e9eb;
}

#popup-window input{

    border: 1px solid #b1e1f7;
    border-radius: 8px;
    padding: 0 10px;
    box-sizing: border-box;
    color: #000000;
    width: 50%;
}


/* _____ for tablet width 768pixels */

@media screen and (max-width: 768px) {

    .nav_logo_box {
        height: 137px;
    }

    .filter_div img {
        width: 50%;
        height: 60%;
    }

    .icon_logo {
        left: 40%;
    }


}




/* ----- for moblie-L  width 425px */

@media screen and (max-width:425px) {
    

    .sidenav {
        width: 0%;
    }
    .open_btn_div{
        display: block;
    }
    

    .parent_div{
        background-image: linear-gradient(to right, #142469, #1CB5E0);
        width: 100%;
        left: 0%;
    }

    .icon_logo {
        left: 35%;
        height: 115px;
        top: 1%;
        
    }
    

    .div_1 {
        height:70%;
    }

    .date_and_date {
        width: 50px;
    }

    .filter_div img {
        width: 70%;
    }

    ._in, ._out, .date {
        margin-left: 2%;
    }
}



/* ----- mobile - S width 320px */
@media screen and (max-width:320px) {

    .filter_div img {
        width: 83%;
    }


    .in_out_date strong {
        font-size: 1rem;
    }

    .hours strong {
        font: size 1rem;
    }
    .hours p{
        font-size: 0.955rem;
    }

    .in_out_date img {
        width: 14px;
        height: 19px;
    }

    ._in, ._out, .date {
        margin-left: 1%;
    }

} 



















/* 
.data_div{
    background-color: royalblue;
    width: 80%;
    height: 600px;
    margin-bottom: 500px;
    
}
.main{
    height: inherit;
} */