<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>After Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/after_login_page.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        <div class="sidenav">

            <div class="nav_arrow_div">
                <img src="static\icons\cross.png" onclick="openNav()" alt="icon">
            </div>
            <div class="nav_logo_box">
                <img src="static\icons\logo_real.png" alt="img">
            </div>

            <div class="Menu_tag_div">
                <h4>Menu</h4>
            </div>
            <div class="button_box">
                <div class="status_div active" loading ="lazy">
                    <ion-icon class="icon" name="checkbox-outline"></ion-icon>
                    <p>  Status</p>
                </div>
                <a href="/hours">
                    <!-- <div class="hours_div" loading ="lazy"> -->
                        <ion-icon class="icon" name="time-outline"></ion-icon>
                        <p>  Hours</p>
                    <!-- </div> -->
                </a>
            </div>

            <div class="nav_footer">
                <div class="account_div">
                    <p>{{ user_email }}</p>
                </div>
            </div>

        </div>
        <div class="parent_div">
            <div class="div_0">
                <div class="open_btn_div">
                    <i class="fa fa-bars" onclick="openNav()" ></i>
                </div>
                <img class = "icon_logo" src="static\icons\logo.png" alt="img">
                <div class="logout_div">
                    <a href="/logout"><i class="fa fa-sign-out"> </i></a>
                </div>
                
            </div>
            
            <div class = "div_1">
                <div class="img_info_div">
                    <div class="img_div">

                        <img id ="my_dp"
                            {% if user_dp %}
                                src="{{ user_dp.url}}"
                            {% else%}
                                src="static\image\avatar.png"
                                
                            {% endif %}
                        alt="">
                        <form id="image-upload-form" enctype="multipart/form-data" class="img_upload_form">
                            {% csrf_token %}
                            <div class = "upload_img_btn_div">
                                <input type="file" id="uploaded_img" name="img" accept="image/*">
                                <img type="submit" src="static\icons\upload_img_icon.png" alt="" onclick="check_uploaded_img()">
                            </div>
                        </form>
                    </div>
                   
                    <div class="info_div">
                        <div class="sub_info_div">
                            <div class  = "person_name">
                                <label for="p_name">Name</label>
                                <p id="p_name">{{ full_name }}</p>
                            </div>
                            <div class  = "person_email">
                                <label for="p_email">Email:</label>
                                <p id="p_email">{{ user_email }}</p>
                            </div>
                            <div class  = "person_number">
                                <label for="p_number">Cell No:</label>
                                <p id="p_number">{{ user_cell_no }}</p>
                            </div>
                            <div class  = "person_birth_date">
                                <label for="p_dob">Birth Date:</label>
                                <p id="p_dob">{{ user_birth_date }}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="check_in_out_div">
                    <div class="button_div">
                        <!-- <div btn-group data-grouptype="OR">
                            <a onclick="check_in()">Check In</a>
                            <a href="#">Check Out</a>
                        </div> -->

                        
                        <div class="in_out_btn_div">
                            <a class="a_check_in" onclick="check_in()">Check In</a>
                            <p>or</p>
                            <a href="#" class="a_check_out" onclick="check_out()">Check Out</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="alert alert-success" id ="Msg_div">
            <p class="generated-message"><strong>Message</strong></p>
        </div> 
        
        <script>
            var token = document.cookie.split('=');
            var header_value = 'header-check'
            var value_to_check = "function-request"

            function check_in() {
                <!-- <input type="hidden" name="csrfmiddlewaretoken" value="sgKG1Q1XRQAxr3bnU3u7dbRaTcOPU35Nk1QB15NsHjyZsZRnY1VLITs6XqwgFI35"> -->

                var csrftoken = token[1];
                var dataToSend = {
                    status: 'Check In',
                    };
        
                fetch('/upload-status', {
                    method: 'POST',
                    headers: {
                        "header-check":value_to_check,
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,  // Include the CSRF token if required
                    },
                    body: JSON.stringify(dataToSend)
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from Django (if any)
                    //console.log(data);
                    
                    Show_message(data)
                })
                .catch(error => {
                    console.error(error);
                });
            }

            function Show_message(data){
                var msg_div = document.getElementById("Msg_div");
                var msg_ = document.querySelector(".alert p");
                msg_.textContent = Object.keys(data)[0]+":" + data['Message'];
                msg_div.style.display ="flex";
                msg_div.style.opacity= 1;

                // removing the message after two seconds 
                setTimeout( function() {
                    msg_div.style.display ="none";
                }, 2000);

            }


            function check_out() {

                var csrftoken = token[1];
                var dataToSend = {
                    status: 'Check Out',
                    };
        
                fetch('/upload-status', {
                    method: 'POST',
                    headers: {
                        "header-check":value_to_check,
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,  // Include the CSRF token if required
                    },
                    body: JSON.stringify(dataToSend)
                })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from Django (if any)
                    //console.log(data);

                    Show_message(data);
                    

                })
                .catch(error => {
                    console.error(error);
                });
            }



            function check_uploaded_img(){
                var img_input = document.getElementById("uploaded_img");
                var image = document.getElementById("my_dp")

                if (img_input.files[0]){
                    const file = img_input.files[0];
                    const reader = new FileReader();
    
                    reader.onload = function (e) {
                        image.src = e.target.result;
                        console.log('function called')
                    };
                    reader.readAsDataURL(file);

                    const form = document.getElementById('image-upload-form');
                    const formData = new FormData(form);
                    //console.log(formData)
                    fetch('/upload-image', {
                        method: 'POST',
                        headers:{
                        "header-check":value_to_check,
                        },
                        body: formData,
                    })
                    .then(response => response.json())
                    .then(data => {
                        alert(data["message"])
                       //console.log(data); // Handle the response from the server
                        Show_message(data);

                    })
                    .catch(error => {
                        console.error(error);
                    });

                    img_input.value =""
                    //console.log(img_input.files)
                    

                }
            }



            function openNav() { 
                var sidebar = document.querySelector(".sidenav");
                // var sidebar_ul_items = document.querySelector(".sidenav ul")
                var parent_div = document.querySelector(".parent_div")
                console.log(sidebar.style.width)
                if (sidebar.style.width === "0%" || sidebar.style.width === "") {
                    sidebar.style.width = "100%";
                    sidebar.style.display="flex"
                    parent_div.style.display ="none"

                } else {
                    sidebar.style.width = "0%";
                    parent_div.style.display ="flex"
                    sidebar.style.display="none"

                    //parent_div.style.left ="0%"
                }
            }
        </script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>