<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'pass_reset.css' %}">
    </head>
    <body>
            <div class="child_div">
                <form method="post">
                    {% csrf_token %}

                    <img src="{% static 'icons/logo_real.png' %}" alt="">
                    <p>Set new password</p>
                    <div class="new_pass_div">
                        <strong>New password</strong>
                        <input type="password" name="new_password1" id="new_password" required autocomplete="new-password">
                    </div>
                    <div class="confirm_pass_div">
                        <strong>Confirm password</strong>
                        <input type="password" name="new_password2" id="confirm_password" required autocomplete="new-password">
                    </div>
                    <input type="submit" value="Submit" class="submit_btn" > 
                </form>
            </div>  
        <script src="" async defer></script>
    </body>
</html>